:host {
  margin: 2rem;
  display: block;
}

.flex-row {
  display: flex;
  margin-bottom: 2em;
}

.input-link {
  margin-right: 2em;
  display: flex;
  justify-content: center;

  mat-card-title {
    margin: auto;
  }

  .link {
    text-decoration: none;
    background-color: none;
    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.run-button {
  display: flex;
  justify-content: center;
  button {
    margin: auto;
  }
}

.input-card {
  width: auto;
  margin-bottom: 2em;
}

.textarea-full-width {
  width: 100%;
  textarea {
    height: 20vh;
  }
}

::ng-deep {
  .mdc-text-field--filled {
    background-color: transparent !important;
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-text-field-wrapper {
    margin-bottom: -1.25em;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mdc-floating-label {
    color: rgba(#fad02c, 0.8) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-focused .mdc-floating-label {
    color: #fad02c !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mdc-line-ripple {
    background-color: #fad02c !important;
  }

  .mat-mdc-form-field.mat-accent .mat-mdc-input-element {
    caret-color: #fad02c;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: currentcolor;
  }
}

.results-card {
  margin-right: 2em;
}
