<div class="flex-row">
  <mat-card class="day-name frosted-background">
    <mat-card-content>
      <mat-card-title class="accent-color">
        <span>Day</span>
        <span class="accent-glow" [style.margin-left.rem]="0.5">{{ day }}</span>
      </mat-card-title>
      <mat-card-subtitle class="accent-color">{{ title }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <div [style.flex]="1"></div>
  <mat-card class="input-link frosted-background frosted-background-hover">
    <mat-card-content>
      <mat-card-title class="accent-color">
        <a
          href="https://adventofcode.com/{{ year }}/day/{{ day }}/input"
          target="_blank"
          ><span class="link accent-color">Input link</span></a
        >
      </mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="run-button frosted-background frosted-background-hover">
    <mat-card-content>
      <button
        mat-raised-button
        color="accent"
        [disabled]="puzzleInput == '' || running"
        (click)="runPuzzle()"
      >
        Run
      </button>
    </mat-card-content>
  </mat-card>
</div>
<mat-card
  *ngIf="additionalInfo"
  class="input-card accent-color frosted-background"
>
  <mat-card-content>
    {{ additionalInfo }}
  </mat-card-content>
</mat-card>
<mat-card class="input-card accent-color frosted-background">
  <mat-card-content>
    <mat-form-field
      class="textarea-full-width"
      appearance="fill"
      color="accent"
    >
      <mat-label>Paste an input</mat-label>
      <textarea
        class="monospace"
        matInput
        spellcheck="false"
        data-gramm="false"
        [(ngModel)]="puzzleInput"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<div class="flex-row">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!result1 && running"
    color="accent"
  ></mat-progress-bar>
  <mat-card
    class="results-card frosted-background frosted-background-hover"
    *ngIf="result1"
    (click)="copyResult1()"
  >
    <mat-card-content>
      <mat-card-title class="accent-color">
        <span>Part 1 result:</span>
        <span class="accent-glow" [style.margin-left.rem]="0.5">{{
          result1
        }}</span>
      </mat-card-title>
      <mat-card-subtitle class="accent-color"
        >Time elapsed: {{ result1Time | number: "0.1-5" }}ms</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</div>
<div class="flex-row">
  <mat-card
    [style.visibility]="result1Component == null ? 'hidden' : 'visible'"
    [style.flex]="1"
    class="frosted-background"
  >
    <mat-card-content>
      <ng-template #viewContainerRefOne></ng-template>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex-row">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!result2 && running"
    color="accent"
  ></mat-progress-bar>
  <mat-card
    *ngIf="result2"
    class="results-card frosted-background frosted-background-hover"
    (click)="copyResult2()"
  >
    <mat-card-content>
      <mat-card-title class="accent-color">
        <span>Part 2 result:</span>
        <span class="accent-glow" [style.margin-left.rem]="0.5">{{
          result2
        }}</span>
      </mat-card-title>
      <mat-card-subtitle class="accent-color"
        >Time elapsed: {{ result2Time | number: "0.1-5" }}ms</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</div>
<div class="flex-row">
  <mat-card
    [style.visibility]="result2Component == null ? 'hidden' : 'visible'"
    [style.flex]="1"
    class="frosted-background"
  >
    <mat-card-content>
      <ng-template #viewContainerRefTwo></ng-template>
    </mat-card-content>
  </mat-card>
</div>
