.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.number-cell {
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  border-radius: 0.25em;
  margin: 0.1em;
}

.board {
  margin: 0.75em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  border: rgba(#fff, 0.1) solid 2px;

  &.won {
    border: #fad02c solid 2px;
    box-shadow: 0 0 1em #fad02c;
  }
}
