<div class="snow-background">
  <div class="snow" *ngFor="let idx of [].constructor(100)"></div>
</div>
<mat-toolbar
  class="mat-elevation-z8 frosted-background"
  color="primary"
  [style.z-index]="2"
  [style.position]="'absolute'"
>
  <span class="accent-color accent-glow" routerLink="/">Advent Of Code</span>
  <span
    *ngIf="selectedYear > 0"
    class="accent-color"
    [style.margin-left.em]="1"
    routerLink="/{{ selectedYear }}"
    >{{ selectedYear }}</span
  >
  <span
    class="accent-color"
    [style.margin-left.em]="1"
    routerLink="/{{ selectedYear }}"
    >{{ actionName }}</span
  >
  <span
    *ngIf="selectedYear > 0 && selectedDay > 0 && canGoToPreviousDay"
    class="navigator accent-color"
    [style.margin-left.em]="1"
    routerLink="/{{ selectedYear }}/{{ selectedDay - 1 }}"
  >
    Previous day
  </span>
  <span
    *ngIf="selectedYear > 0 && selectedDay > 0 && !canGoToPreviousDay"
    class="navigator disabled-navigator"
    [style.margin-left.em]="1"
  >
    Previous day
  </span>
  <span
    *ngIf="selectedYear > 0 && selectedDay > 0 && canGoToNextDay"
    class="navigator accent-color"
    [style.margin-left.em]="1"
    routerLink="/{{ selectedYear }}/{{ selectedDay + 1 }}"
  >
    Next day
  </span>
  <span
    *ngIf="selectedYear > 0 && selectedDay > 0 && !canGoToNextDay"
    class="navigator disabled-navigator"
    [style.margin-left.em]="1"
  >
    Next day
  </span>
</mat-toolbar>
<div class="router-container">
  <router-outlet></router-outlet>
</div>
