:host {
  display: block;
  width: 100%;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.grid-cell {
  justify-self: center;
}
