<div class="accent-color">
  <aoc-animator
    [iterations]="headMoves.length"
    (currentIdxEvent)="currentIdx = $event"
  ></aoc-animator>
  <div class="move">
    <span class="monospace">
      Direction <span class="accent-glow">{{ move.direction }}</span> <br />
      Steps <span class="accent-glow">{{ move.distance }}</span></span
    >
  </div>
  <div class="grid-wrapper">
    <div class="grid" [ngStyle]="gridRepeatStyle">
      <div
        class="rope-cell accent-glow monospace"
        [style.grid-column-start]="1 + head.x + minX"
        [style.grid-row-start]="maxY + 1 - head.y"
      >
        <span>H</span>
      </div>
      <div
        class="rope-cell accent-glow monospace"
        [style.grid-column-start]="1 + tail.x + minX"
        [style.grid-row-start]="maxY + 1 - tail.y"
      >
        <ng-container *ngIf="tail.x != head.x || tail.y != head.y">
          <span>T</span>
        </ng-container>
      </div>
      <div
        class="rope-cell monospace"
        *ngFor="let component of body; let i = index"
        [style.grid-column-start]="1 + component.x + minX"
        [style.grid-row-start]="maxY + 1 - component.y"
      >
        <ng-container
          *ngIf="
            (head.x != component.x || head.y != component.y) &&
            (tail.x != component.x || tail.y != component.y)
          "
        >
          <span>.</span>
        </ng-container>
      </div>
      <div
        class="rope-cell monospace"
        [style.grid-column-start]="1 + minX"
        [style.grid-row-start]="1 + maxY"
        *ngIf="(head.x != 0 || head.y != 0) && (tail.x != 0 || tail.y != 0)"
      >
        <span>s</span>
      </div>
      <div
        class="rope-cell"
        *ngFor="let trail of tailTrail; let i = index"
        [style.grid-column-start]="1 + trail.x + minX"
        [style.grid-row-start]="maxY + 1 - trail.y"
        [style.background-color]="'rgba(250, 208, 44, 0.1)'"
      ></div>
    </div>
  </div>
</div>
